# IntelliJ
.idea/
*.iml

# Maven
.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
pom.xml.versionsBackup
*.class
target/

# Dependency file
server/src/main/resources/dependencies.txt
launcher/src/main/resources/server.jar
