name: CloudNet UpdateServer Build
on: [create, push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['11']

    steps:
      - uses: actions/checkout@v2.3.3
      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v3.4.1
        with:
          java-version: ${{ matrix.java }}
          architecture: x64
      - name: Build with Maven
        run: mvn clean test package
      - name: Upload Artifact
        uses: actions/upload-artifact@master
        with:
          name: CloudNet-UpdateServer
          path: target/CloudNet-UpdateServer.jar